@import "tailwindcss";

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito.ttf");
}

@font-face {
  font-family: BebasNeue;
  src: url("/fonts/BebasNeue.ttf");
}

@theme {
  --font-nunito: Nunito, sans-serif;
  --font-bebasneue: BebasNeue, sans-serif;
  --animate-blendout: blendout 0.3s ease-out forwards;
  --animate-blendin: blendin 0.3s ease-out forwards;
}

@layer base {
  html {
    @apply font-nunito;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-bebasneue;
  }
}

@keyframes blendout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blendin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
